<!-- footer.component.html -->

<footer class="bg-dark text-light py-5" *ngIf="!esRutaAnimacion()">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h3>Contacto</h3>

                <p>Correo electrónico: <a href="mailto:beautybar.vmo54890@gmail.com">beautybar.vmo54890&#64;gmail.com</a></p>
                <p>Teléfono: <a href="tel:+525564884393">+52 55 6488 4393</a></p>
                <p>Dirección: Callejon. Dolores s/n, Visitacion, 54890 Melchor Ocampo, Méx.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h3>Enlaces Rápidos</h3>
                <ul class="list-unstyled">
                    <li><a href="/bienvenido">Inicio</a></li>
                    <li><a href="/clientes">Clientes</a></li>
                    <li><a href="/servicios">Servicios</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3>Síguenos s</h3>
                <p>Conéctate con nosotros en redes sociales: </p>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=61564569885163&mibextid=ZbWKwL" target="_blank">
                            <i class="fab fa-facebook"><img src="../../../assets/facebook.png" width="32px" height="30px"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a aria-label="Chat on WhatsApp" href="https://wa.me/525564884393?text=Hola%2C%20me%20comunico%20para%20saber%20más%20sobre%20su%20negocio">
                            <i class="fab fa-whatsapp"><img src="../../../assets/whatsapp.png" width="30px" height="30px"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/bar.bellabeauty?igsh=YTVud2w5Y25pb2xo" target="_blank">
                            <i class="fab fa-instagram"><img src="../../../assets/insta.png" width="30px" height="30px"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.tiktok.com/@bella.beauty.bar?_t=8pQuYhiUMBJ&_r=1" target="_blank">
                            <i class="fab fa-instagram"><img src="../../../assets/tik.png" width="30px" height="30px"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>